<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
            <h3>New feedback Submission</h3>
                <ul>
                    <li>Customer :{{message_data.customer}}</li>
                    <li>Dealer : {{message_data.Dealer}}</li>
                    <li>Rating :{{message_data.rating}}</li>
                    <li>Comments: {{message_data.comments}}</li>
                </ul>
        

        <script src="" async defer></script>
    </body>
</html>